.search-bar-container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("./background.jpg");
}

.result {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  align-items: center;
  text-align: center;
  flex-direction: row;
  border-radius: 10px;
  font-family: "Thasadith", sans-serif;
}

.result p {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.content-container {
  margin-top: 3%;
  width: 50%;
}

.content-container input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.content-container button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
  cursor: pointer;
}

.content-container button:hover {
  background: #0b7dda;
}

.content-container::after {
  content: "";
  clear: both;
  display: table;
}

.copy {
  background-color: #efbc75;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 22px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.copy:hover {
  opacity: 1;
}

.instagram-images {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.spinner {
  margin-top: 20px;
  width: 50vh;
  height: 50vh;
}

.page-header {
  width: 100%;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.landing-content {
  font-family: "Thasadith", sans-serif;
  font-weight: 200;
  text-align: center;
}

.hashtag-data {
  padding-top: 10px;
  width: 100%;
  text-align: center;
}

.hashtag-data li {
  float: left;
  text-align: center;
  padding-left: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 8px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.hashtag-data span {
  background-color: rgba(255, 229, 0, 0.5);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  font-size: 8px;
  display: inline-block;
}

.hashtag-data-title {
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  border: 2px solid #4CAF50;
  outline: none;
}

.hashtag-data ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.update-info {
  width: 100%;
  border-top-style: dotted;
  text-align: center;
  justify-content: center;
}

.custom-tags {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  align-items: center;
  text-align: center;
  flex-direction: row;
  border-radius: 10px;
  font-family: "Thasadith", sans-serif;
}
